@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

header {
  height: 55px;
  width: 100%;
  padding-top: 10px;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
  margin-bottom: 20px;
  background-color: rgb(131, 114, 114);
}

body {
  background: #e4e4e4;
  margin: 0px;
}

#body-title {
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: inline;
}

#nav-title {
  font-family: 'Libre Baskerville', serif;
  color: #ffffff;
  margin: auto;
  padding-left: 5%;
  padding-right: 5%;
  display: inline;
  align-self: right;
}

main {
  margin-left: 10%;
  margin-right: 10%;
  padding: 1%;
  font-family: Arial;
  border: 0px solid;
  border-radius: 10px;
  background: white;
  box-shadow: 5px 5px 20px -1px rgb(0, 0, 0, 10);
}

section {
  width: 48%;
  height: 1000px;
  display: inline-block;
  vertical-align: top;
}

.article-image {
  height: 200px;
  background-size: cover !important;
  background-position: center !important;
}

.nav {
  width: 49%;
}

footer {
  text-align: center;
  color: white;
  height: 55px;
  width: 100%;
  padding-top: 10px;
  margin: 0px;
  margin-top: 20px;
  background-color: rgb(131, 114, 114);
}

.navigation-bar {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 25% 25%;
}
